.textarea {
    display: block;
    width: 640px;
    height: 50px;  
    margin: 0 auto;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 640px;
    flex-direction: row;
    height: auto;  
    margin: 0 auto;
}

.button {
    height: 30px;
    width: 40px;
    background-color: green;
    outline: none;
    border-radius: 5px;
}

.button--active {
    background-color: red;
}

.button-backspace {
    height: 30px;
    width: 90px;
    background-color: green;
}
.button-tab {
    height: 30px;
    width: 90px;
    background-color: green;
}
.button-capslock {
    height: 30px;
    width: 90px;
    background-color: green;
}
.button-enter {
    height: 30px;
    width: 90px;
    background-color: green;
}
.button-control {
    height: 30px;
    width: 60px;
    background-color: green;
}

.button-alt {
    height: 30px;
    width: 40px;
    background-color: green;
}
.button-shift {
    height: 30px;
    width: 105px;
    background-color: green;
}
.button-space {
    height: 30px;
    width: 340px;
    background-color: green;
}

