.textarea {
    display: block;
    width: 640px;
    height: 100px;  
    margin: 0 auto;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 640px;
    flex-direction: row;
    height: auto;  
    margin: 0 auto;
}
button {
    font-size: 12px;
    font-family: sans-serif;
    color: #C5C5C5;
    outline: none;
    border: 1px solid white;
}

.button {
    height: 35px;
    width: 40px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
    font-size: 16px;
}

.button-backspace {
    height: 35px;
    width: 82px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
}
.button-tab {
    height: 35px;
    width: 82px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
    font-size: 14px;
}
.button-capslock {
    height: 35px;
    width: 82px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
}
.button-del {
    height: 35px;
    width: 40px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
}
.button-enter {
    height: 35px;
    width: 90px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
}
.button-control {
    height: 35px;
    width: 52px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
}

.button-alt {
    height: 35px;
    width: 40px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
}

.button-win {
    height: 35px;
    width: 40px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
}
.button-shift {
    height: 35px;
    width: 89px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
}
.button-space {
    height: 35px;
    width: 296px;
    background-color: #353535;
    outline: none;
    border-radius: 7px;
}

.button--active {
    background-color: #3E1E1E;
}

.button--pressed {
    background-color: #3E1E1E;
}